.cards {
  width: 920px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

@media screen and (max-width: 1279px) {
  .cards {
    width: 890px;
  }
}

@media screen and (max-width: 1023px) {
  .cards {
    width: 544px;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    width: 446px;
  }
}
