.khan__quote {
  max-width: 790px;
  width: 100%;
  margin: 0;
  padding-top: 50px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

@media screen and (max-width: 1279px) {
  .khan__quote {
    max-width: 672px;
    padding-top: 43px;
    line-height: 29px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .khan__quote {
    max-width: 504px;
    padding-top: 32px;
    line-height: 22px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .khan__quote {
    padding-top: 22px;
  }
}
