.feynman__title {
  max-width: 648px;
  width: 100%;
  margin: auto;
  text-align: center;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: 600;
}

@media screen and (max-width: 1279px) {
  .feynman__title {
    max-width: 550px;
    font-size: 102px;
  }
}

@media screen and (max-width: 1023px) {
  .feynman__title {
    max-width: 413px;
    font-size: 77px;
  }
}

@media screen and (max-width: 767px) {
  .feynman__title {
    max-width: 281px;
    font-size: 52px;
  }
}

@media screen and (max-width: 524px) {
  .feynman__title {
    max-width: 225px;
    font-size: 42px;
  }
}

@media screen and (max-width: 424px) {
  .feynman__title {
    max-width: 169px;
    font-size: 30px;
  }
}
