.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

@media screen and (max-width: 1279px) {
  .khan__author {
    line-height: 36px;
    font-size: 26px;
  }
}
