.feynman {
  position: relative;
  padding-top: 100px;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .feynman {
    padding-top: 85px;
    min-height: 756px;
    background-size: 650px 478px;
  }
}

@media screen and (max-width: 1023px) {
  .feynman {
    padding-top: 64px;
    min-height: 567px;
    background-size: 488px 359px;
  }
}

@media screen and (max-width: 767px) {
  .feynman {
    padding-top: 44px;
    min-height: 386px;
    background-size: 332px 244px;
  }
}
