.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 524px) {
  .footer__social-icon {
    margin-right: 6px;
    width: 14px;
    height: 14px;
  }
}
