.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .header {
    min-height: 510px;
    max-height: 643px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    min-height: 383px;
    max-height: 482px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 260px;
    max-height: 400px;
  }
}
