.logo {
  width: 183px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 524px) {
  .logo {
    width: 146px;
    height: 28px;
  }
}
