.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

@media screen and (max-width: 1279px) {
  .feynman__subtitle {
    line-height: 43px;
    font-size: 31px;
    margin-top: 57px;
  }
}

@media screen and (max-width: 1023px) {
  .feynman__subtitle {
    line-height: 32px;
    font-size: 23px;
    margin-top: 42px;
  }
}

@media screen and (max-width: 767px) {
  .feynman__subtitle {
    line-height: 22px;
    font-size: 17px;
    margin-top: 29px;
  }
}
