.table {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

@media screen and (max-width: 1279px) {
  .table {
    width: 920px;
  }
}

@media screen and (max-width: 1023px) {
  .table {
    width: 680px;
    justify-content: start;
  }
}

@media screen and (max-width: 767px) {
  .table {
    width: 440px;
  }
}

@media screen and (max-width: 524px) {
  .table {
    width: 200px;
  }
}
