.header__subtitle {
  margin: 0;
  max-width: 388px;
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

@media screen and (max-width: 1279px) {
  .header__subtitle {
    max-width: 349px;
    line-height: 23px;
    font-size: 16px;
    left: 54px;
  }
}
