.header__subtitle {
  margin: 0;
  max-width: 388px;
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

@media screen and (max-width: 1279px) {
  .header__subtitle {
    max-width: 349px;
    line-height: 23px;
    font-size: 16px;
    left: 54px;
  }
}

@media screen and (max-width: 1279px) {
  .header__subtitle {
    max-width: 265px;
    line-height: 21px;
    font-size: 14px;
    left: 41px;
  }
}

@media screen and (max-width: 1023px) {
  .header__subtitle {
    max-width: 246px;
  }
}

@media screen and (max-width: 767px) {
  .header__subtitle {
    max-width: 178px;
    line-height: 14px;
    font-size: 13px;
    left: 28px;
  }
}

@media screen and (max-width: 524px) {
  .header__subtitle {
    max-width: 142px;
    left: 20px;
  }
}

@media screen and (max-width: 424px) {
  .header__subtitle {
    display: none;
  }
}
