.khan__title {
  margin: 0;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: 600;
}

@media screen and (max-width: 1279px) {
  .khan__title {
    font-size: 51px;
  }
}

@media screen and (max-width: 767px) {
  .khan__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 424px) {
  .khan__title {
    font-size: 30px;
  }
}
