.kaufman__triangle {
  width: 877px;
  height: 877px;
  background: url(../../../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: -210px;
}

@media screen and (max-width: 1279px) {
  .kaufman__triangle {
    width: 745px;
    height: 745px;
  }
}
