.kaufman__triangle {
  width: 877px;
  height: 877px;
  background: url(../../../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: -210px;
}

@media screen and (max-width: 1279px) {
  .kaufman__triangle {
    width: 745px;
    height: 745px;
  }
}

@media screen and (max-width: 1023px) {
  .kaufman__triangle {
    width: 559px;
    height: 559px;
    top: 200px;
  }
}

@media screen and (max-width: 767px) {
  .kaufman__triangle {
    width: 380px;
    height: 380px;
    top: 400px;
    right: -110px;
  }
}

@media screen and (max-width: 524px) {
  .kaufman__triangle {
    width: 304px;
    height: 304px;
    top: 1100px;
    right: -90px;
  }
}
