.resources__logo {
  width: 270px;
  height: 38px;
}

@media screen and (max-width: 1279px) {
  .resources__logo {
    width: 230px;
    height: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .resources__logo {
    margin-top: 30px;
  }
}
