.header__title {
  margin: 0 0 0 64px;
  max-width: 730px;
  font-weight: 600;
  line-height: 102px;
  font-size: 96px;
  z-index: 2;
}

@media screen and (max-width: 1279px) {
  .header__title {
    max-width: 620px;
    line-height: 87px;
    font-size: 82px;
    margin-left: 54px;
  }
}

@media screen and (max-width: 1023px) {
  .header__title {
    max-width: 465px;
    line-height: 65px;
    font-size: 61px;
    margin-left: 41px;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    max-width: 316px;
    line-height: 44px;
    font-size: 41px;
    margin-left: 28px;
  }
}
