.khan__book-container {
  padding-top: 68px;
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 1279px) {
  .khan__book-container {
    padding-top: 54px;
  }
}

@media screen and (max-width: 1023px) {
  .khan__book-container {
    padding-top: 41px;
  }
}
