.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
  margin-right: 48px;
}

@media screen and (max-width: 1279px) {
  .khan__book-pic {
    width: 527px;
    height: 517px;
    margin-right: 41px;
  }
}

@media screen and (max-width: 1023px) {
  .khan__book-pic {
    width: 395px;
    height: 388px;
    margin-right: 31px;
  }
}

@media screen and (max-width: 767px) {
  .khan__book-pic {
    width: 269px;
    height: 264px;
    margin-right: 21px;
  }
}

@media screen and (max-width: 524px) {
  .khan__book-pic {
    width: 215px;
    height: 211px;
    margin-right: 17px;
  }
}
